body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;

}

.title {
    font-size: 2em;
    color: #333;
    
}

.header-nav a,
.header-nav span,
.checkbox-group label {
    font-size: 0.9em;
}

