.form-group {
    margin-bottom: 25px;
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .form-group.full-width {
    width: 100%;
  }
  
  .form-group label {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
    font-size: 1em;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .form-group {
      width: 100%;
    }
  }
  